<style type="text/css">
	progress {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;
}
</style>

<progress id="p" value="0" max="100"></progress>
<button onclick="fun()">click</button>
<p id="x"></p>
<style type="text/css"></style>
<script type="text/javascript">
	setInterval(fun,1000);
	function fun () {
		var val = 60;
		var lim = document.getElementById('p').value;
		if(lim<=val) lim = lim + 1;
		document.getElementById('p').value = lim;

		for(i=0;i<=val;i=i+10)
		{
			
			document.getElementById('x').innerHTML = i;
		}
		// body...
	}
</script>
